.additional__headline {
  margin: 0;
  padding-top: 31px;
  padding-bottom: 30px;
  padding-left: 20px;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
}

.additional__wrapper {
  padding-top: 14px;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.additional__title {
  margin: 0;

  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

.additional__options {
  display: flex;
  justify-content: space-between;

  padding-top: 15px;
  padding-bottom: 28px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional__button {
  margin-top: 14px;
  padding-top: 13px;
  padding-right: 108px;
  padding-bottom: 12px;
  padding-left: 111px;

  text-decoration: none;
}

@media (min-width: 768px) {
  .additional {
    padding-left: 30px;
    padding-right: 30px;
  }

  .additional__headline {
    font-size: 36px;
    line-height: 36px;
  }

  .additional__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 38px;
    padding-right: 37px;
    border: 1px solid #e7e7e7;
  }

  .additional__title {
    padding-right: 246px;
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional__button {
    padding-left: 285px;
    padding-right: 287px;
  }
}

@media (min-width: 1440px) {
  .additional__button {
    padding-left: 93px;
    padding-right: 91px;
  }

  .additional__wrapper {
    width: 895px;
  }

  .additional__title {
    padding-right: 0;
  }
}
