.advantages {
  display: flex;
  flex-direction: column;
  padding-right: 18px;
}

.advantages__title {
  margin-top: -3px;
  margin-left: 20px;
  margin-right: 46px;
  margin-bottom: 28px;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  text-align: left;
}

.advantages__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.advantages__image {
  margin-left: 20px;
  margin-right: 20px;

  width: 154px;
  height: 60px;
  background-color: #68b738;
}

.advantages__image--clock {
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__image--leaf {
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__image--powder {
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__image--dining {
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__discription {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
}

@media (min-width: 768px) {
  .advantages__wrapper {
    margin-top: 19px;
    margin-right: 30px;
    margin-left: 28px;
    padding-right: 0;
  }

  .advantages::after {
    content: "";

    margin-top: 15px;

    width: 768px;
    height: 1px;
    background-color: #f2f2f2;
  }

  .advantages__title {
    margin-top: 0;
    margin-bottom: 74px;
    margin-left: 5px;

    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 44px;
    margin-left: 5px;
  }

  .advantages__item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 90px;
  }

  .advantages__item--laef {
    margin-right: 122px;

    width: 260px;
    height: 228px;
  }

  .advantages__item--powder {
    width: 260px;
  }

  .advantages__item--dining {
    margin-right: 122px;

    width: 260px;
  }

  .advantages__item--clock {
    width: 260px;
  }

  .advantages__image--leaf::after {
    content: "1";
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    top: -40px;
    position: relative;
    left: 114px;
    z-index: -1;
  }

  .advantages__image--powder::after {
    content: "2";
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    top: -40px;
    position: relative;
    left: 109px;
    z-index: -1;
  }

  .advantages__image--dining::after {
    content: "3";
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    top: -40px;
    position: relative;
    left: 110px;
    z-index: -1;
  }

  .advantages__image--clock::after {
    content: "4";
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    top: -40px;
    position: relative;
    left: 110px;
    z-index: -1;
  }

  .advantages__image {
    margin-top: -3px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 33px;
    width: 80px;
    height: 80px;
  }

  .advantages__discription {
    margin-top: -1px;

    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .advantages {
    margin: 0 auto;
    margin-top: 28px;
  }

  .advantages__wrapper {
    margin-right: 0;
    margin-left: 110px;
  }

  .advantages::after {
    display: none;
  }

  .advantages__image {
    margin-bottom: 31px;
  }

  .advantages__title {
    margin-top: -5px;
    margin-left: 0;
  }

  .advantages__list {
    margin-left: 0;
  }

  .advantages__item {
    margin-bottom: 0;
    width: 257px;
  }

  .advantages__item--laef {
    margin-right: 60px;
  }

  .advantages__item--powder {
    margin-right: 64px;
  }

  .advantages__item--powder p {
    margin-left: 4px;
  }

  .advantages__item--dining {
    margin-right: 64px;
  }

  .advantages__item--dining p {
    margin-left: 8px;
  }

  .advantages__item--clock p {
    margin-left: 12px;
  }

  .advantages__image--powder {
    margin-left: 8px;
  }

  .advantages__image--dining {
    margin-left: 12px;
  }

  .advantages__image--clock {
    margin-left: 16px;
  }

  .advantages__discription {
    margin-top: 3px;
    margin-left: 0;
  }

  .advantages__image--powder::after {
    left: 111px;
  }
}
