.animal__item {
  margin-top: -3px;
}

.animal__input {
  margin-bottom: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  border: 1px solid #cdcdcd;
  opacity: 0.5;
}

.animal__input--name {
  min-width: 210px;
  margin-left: 12px;
}

.animal__input--weight {
  min-width: 186px;
  margin-left: 18px;
}

.animal__input--age {
  min-width: 155px;
  margin-left: 15px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

@media (min-width: 768px) {
  .animal__input {
    margin-bottom: 17px;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 20px;

    font-size: 20px;
    line-height: 20px;

    color: #444444;
  }

  .animal__input--name {
    min-width: 545px;
    margin-left: 13px;
  }

  .animal__input--weight {
    min-width: 514px;
    margin-left: 21px;
  }

  .animal__input--age {
    min-width: 475px;
    margin-left: 17px;
  }
}

@media (min-width: 1440px) {
  .animal:first-child .animal__input {
    min-width: 478px;
    margin-left: 16px;
  }

  .animal .animal__item:nth-child(2) .animal__input {
    min-width: 452px;
    margin-left: 19px;
  }

  .animal .animal__item:last-child .animal__input {
    min-width: 411px;
    margin-left: 17px;
  }

  .animal__label {
    display: block;
    width: 568px;
  }
}
