.catalog-title {
  margin: 0;
  margin-left: 20px;
  padding-top: 14px;
  padding-bottom: 29px;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  text-align: left;

  background-color: white;
}

@media (min-width: 768px) {
  .catalog-title {
    margin-top: -11px;
    margin-left: 34px;
    padding-bottom: 28px;

    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: 1300px) {
  .catalog-title {
    margin-top: 0;
    margin-left: 38px;
    padding-top: 18px;
  }
}
