.comment__title {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  text-transform: none;
}

.comment__title::after {
  content: " ";
  display: block;
  width: 158px;
  height: 3px;
  background-color: #68b738;
  position: relative;
  left: 141px;
  top: -9px;
}

.comment__text {
  width: 260px;
  height: 150px;

  margin-right: 20px;
  padding-top: 15px;
  padding-left: 16px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
