.contacts {
  margin-top: 33px;
  margin-right: 25px;
  margin-bottom: 28px;
  margin-left: 19px;

  background-color: #ffffff;
}

.contacts__description {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}

.contacts__address {
  margin-left: 19px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #444444;
}
