.contacts {
  padding-bottom: 346px;

  background-color: #f2f2f2;
}

.contacts__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contacts__list {
  padding-top: 28px;
  padding-bottom: 26px;

  z-index: 1;

  background-color: #ffffff;
}

.contacts__list-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  width: 320px;
}

.contacts__list--grey {
  display: flex;

  background-color: #f2f2f2;
}

.contacts__description {
  margin: 0;
  margin-right: 13px;
  margin-left: 19px;

  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-align: left;
  color: #444444;
}

.contacts__image img {
  position: absolute;
  z-index: 0;
  top: 76px;

  width: 320px;
  height: 400px;
}

.contacts__map-pin {
  position: absolute;
  top: 252px;
  left: 133px;

  width: 55px;
  height: 53px;

  z-index: 2;
}

.contacts__image .contacts__map-pin {
  position: absolute;
  top: 252px;
  left: 133px;

  width: 55px;
  height: 53px;

  z-index: 2;
}

@media (min-width: 768px) {
  .contacts {
    padding-bottom: 412px;
    margin-top: -27px;
  }

  .contacts--catalog {
    padding-bottom: 378px;
  }

  .contacts--program {
    margin-top: -15px;
    padding-bottom: 382px;
  }

  .contacts__description {
    margin-top: 2px;
    margin-left: 0;
    padding-right: 159px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    margin-left: 68px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__address span {
    display: block;

    margin-top: 20px;
  }

  .contacts__list {
    margin-top: -17px;
    padding-right: 77px;
    padding-bottom: 60px;
    padding-left: 77px;
  }

  .contacts__list-wrapper {
    width: 620px;
  }

  .contacts__list--grey {
    margin-top: 10px;
    padding-top: 54px;
    padding-bottom: 60px;
  }

  .contacts__image img {
    top: 145px;

    width: 100%;
    height: 400px;
  }

  .contacts__image--catalog img,
  .contacts__image--program img {
    top: 196px;
  }

  .contacts__map-pin {
    top: 295px;
    left: 335px;

    width: 113px;
    height: 106px;
  }

  .contacts__image--catalog .contacts__map-pin,
  .contacts__image--program .contacts__map-pin {
    top: 347px;
    left: 335px;

    width: 113px;
    height: 106px;

    z-index: 2;
  }
}

@media (min-width: 1300px) {
  .contacts {
    position: relative;
    margin-top: 0;
    padding-bottom: 388px;
  }

  .contacts__wrapper {
    width: 1300px;
  }

  .contacts__list-wrapper {
    margin-left: 0;

    width: 0;
  }

  .contacts__list {
    position: absolute;
    top: 111px;
    left: 41px;
    padding-top: 63px;
    padding-right: 90px;
    padding-bottom: 58px;
    padding-left: 76px;

    width: 404px;

    background-color: #ffffff;
  }

  .contacts__list--catalog-desktop {
    top: 115px;
    padding-top: 62px;
    padding-bottom: 59px;
  }

  .contacts__list--program {
    top: 115px;
  }

  .contacts__list--grey {
    margin-top: -20px;
    padding-bottom: 59px;
  }

  .contacts__description {
    margin-right: 0;
    padding-right: 0;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    margin-left: 95px;
    padding-left: 0;

    min-width: 185px;

    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }

  .contacts__image img {
    top: 0;
  }

  .contacts__map-pin {
    top: 150px;
    left: 940px;
  }

  .contacts__image .contacts__map-pin {
    position: absolute;
    top: 150px;
    left: 937px;

    width: 113px;
    height: 106px;

    z-index: 2;
  }
}
