.example {
  margin-top: 22px;

  background-color: #f2f2f2;
}

.example__title {
  margin: 0;
  padding-top: 33px;
  margin-bottom: 33px;
  margin-left: 20px;

  font-size: 36px;
  line-height: 60px;
  text-align: left;
}

.example__description {
  margin-right: 34px;
  margin-bottom: 27px;
  margin-left: 20px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
}

.example__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.example__item {
  margin-left: 20px;
  margin-right: 16px;

  text-align: center;
}

.example__item:last-child {
  margin-left: 16px;
  margin-right: 20px;
}

.example__data {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
}

.example__data:first-child {
  padding-top: 16px;
  padding-right: 42px;
  padding-bottom: 17px;
  padding-left: 43px;
}

.example__item:last-child .example__data {
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 14px;
  padding-left: 22px;
}

.example__result {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  white-space: pre;

  background-color: #f2f2f2;
}

.example__result:first-child {
  padding-top: 5px;
  padding-right: 17px;
  padding-left: 16px;
}

.example__result:last-child {
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.example__expenses {
  margin: 0;
  margin-top: 22px;
  margin-right: 66px;
  margin-bottom: 44px;
  margin-left: 66px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__image {
  margin-bottom: 35px;
}

.example__range {
  display: flex;
  position: relative;
  margin-left: 64px;
}

.example__ellipse-green {
  position: absolute;
  left: 72px;
  top: 4px;

  width: 35px;
  height: 6px;

  border-radius: 3px;
  background-color: #68b738;
}

.example__ellipse-white {
  margin-right: 18px;
  margin-bottom: 39px;
  margin-left: 19px;

  width: 83px;
  height: 13px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.example__before-after {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
