.form {
  background-color: #ffffff;
}

.form__animal,
.form__programs,
.form__user,
.form-extra {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  border: none;
}

.form__comment {
  border: none;
}

.input[type="text"]::placeholder,
.input[type="email"]::placeholder,
.input[type="number"]::placeholder {
  padding-left: 16px;
  text-transform: uppercase;
  color: #444444;
}

.animal__input,
.user__input {
  border: 1px solid #cdcdcd;
  opacity: 0.5;
}

.animal__input:first-child {
  min-width: 229px;
}

.animal__input:nth-child(2),
.user__input:last-child {
  min-width: 204px;
}

.animal__input:last-child {
  min-width: 172px;
}

.user-input:first-child {
  min-width: 219px;
}

.user__contacts,
.comment__title,
.form-extra {
  font-size: 24px;
  line-height: 24px;
  text-align: left;
}

.form__required {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 11px;
  text-align: center;
  color: 444444;
}

.form__button {
  padding-top: 13px;
  padding-right: 77px;
  padding-bottom: 11px;
  padding-left: 80px;

  border: none;
}
