.index {
  position: relative;
  margin-bottom: 135px;

  width: 320px;
  height: 305px;

  background-color: #63a837;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.index__title,
.index__description {
  margin: 0;

  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.index__title {
  padding-top: 30px;
  font-size: 36px;
  line-height: 36px;
}

.index__description {
  margin-top: 19px;

  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.index__image {
  position: absolute;
  left: 20px;
  top: 170px;
}
