.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 135px;

  width: 320px;
  height: 305px;

  background-color: #63a837;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.index__title,
.index__description {
  margin: 0;

  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.index__title {
  margin-top: 26px;
  font-size: 36px;
  line-height: 36px;
}

.index__description {
  margin-top: 25px;

  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.index__image {
  margin-top: 29px;
}

.index .index__button {
  margin-left: 20px;
  margin-right: 19px;
  margin-top: 4px;
  padding-top: 10px;
  padding-right: 73px;
  padding-bottom: 11px;
  padding-left: 73px;

  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}


@media (min-width: 768px) {
  .index {
    align-items: flex-start;
    width: 709px;
    padding-bottom: 498px;
    margin-bottom: 0;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: bottom;
    background-size: 709px 609px;
    background-color: #ffffff;
  }

  .index__image {
    display: none;
  }

  .index__title {
    padding-top: 0;
    margin-right: 135px;
    margin-left: 90px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }

  .index__description {
    margin-top: 30px;
    padding-left: 88px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }

  .index .index__button {
    margin-top: 48px;
    margin-left: 89px;
    padding-top: 17px;
    padding-right: 29px;
    padding-bottom: 15px;
    padding-left: 26px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1440px) {
  .index {
    width: 1440px;
    padding-bottom: 304px;
    padding-left: 185px;
    background-image: url("../img/index-can-desktop@1x.png");
    background-size: 552px 499px;
    background-position: top center;
  }

  .index__title {
    margin-left: 0;
    margin-right: 868px;
  }

  .index__description {
    padding-left: 0;
  }

  .index .index__button {
    margin-left: 0;
  }
}
