.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 31px;

  background-color: #ffffff;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.index__wrapper {
  width: 320px;
}

.index__title,
.index__description {
  margin: 0;

  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.index__title {
  margin-top: 26px;
  font-size: 36px;
  line-height: 36px;
}

.index__description {
  margin-top: 25px;

  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.index__image {
  margin-top: 29px;
  margin-bottom: 6px;
  margin-left: 20px;
}

.index__image-background {
  display: none;
}

.index .index__button {
  margin-left: 20px;
  margin-right: 19px;
  padding-top: 10px;
  padding-right: 73px;
  padding-bottom: 9px;
  padding-left: 73px;

  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}


@media (min-width: 768px) {
  .index {
    align-items: flex-start;
    padding-bottom: 520px;
    margin-bottom: 24px;

    background-image: none;
    background-color: #ffffff;
  }

  .index__wrapper {
    width: 708px;
  }

  .index__image {
    position: absolute;
    top: 313px;
    left: 8px;
    z-index: 0;

    width: 709px;
    height: auto;
  }

  .index__title {
    padding-top: 0;
    margin-top: 4px;
    margin-right: 85px;
    margin-left: 119px;

    z-index: 1;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }

  .index__description {
    margin-top: 39px;
    margin-bottom: 63px;
    margin-left: 119px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }

  .index .index__button {
    position: relative;
    margin-left: 119px;
    padding-top: 11px;
    padding-right: 29px;
    padding-bottom: 12px;
    padding-left: 26px;

    z-index: 1;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1440px) {
  .index {
    padding-bottom: 203px;
    padding-left: 190px;

    background: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, white 50%, #64a83b 50%);
    background-repeat: no-repeat, no-repeat;
    background-size: 720px 696px, 100% 100%;
    background-position: 100% 0%;
    margin-top: -168px;
    margin-bottom: 80px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px auto;
    }
  }

  .index__wrapper {
    position: relative;
    margin-top: 217px;
  }

  .index__image {
    position: absolute;
    top: -38%;
    left: 49%;

    z-index: 0;

    width: 552px;
    height: auto;
  }

  .index__image-background {
    display: block;
    position: absolute;
    top: -29px;
    right: 0;
    z-index: -1;
  }

  .index__title {
    position: relative;
    z-index: 2;
    margin-right: 180px;
    margin-left: 0;
  }

  .index__description {
    position: relative;
    z-index: 2;
    margin-top: 40px;
    margin-bottom: 68px;
    margin-left: 0;
    padding-left: 0;
  }

  .index .index__button {
    margin-top: 51px;
    margin-left: 0;
    padding-left: 26px;
    padding-right: 27px;
  }
}
