.main-nav {
  margin: 0 auto;
  width: 320px;
  background-color: white;
}

.main-nav__toggle {
  position: absolute;
  padding: 0;

  background-image: url("../img/icon-mobile-menu.svg");
  background-size: 25px 19px;
  background-repeat: no-repeat;
  left: 276px;
  top: 23px;

  width: 25px;

  border: none;
  background-color: transparent;
}

.main-nav__span {
  opacity: 0;
}

.main-nav__wrapper {
  padding-top: 15px;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
