.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 11px;
  margin: 0 auto;
  width: 320px;
}

.page-header__wrapper {
  border-bottom: 1px solid #f2f2f2;
}

.page-header__logo {
  padding-left: 20px;
}

@media (min-width: 768px) {
  .page-header {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 51px;
    margin-top: 13px;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

    width: 708px;

    border: none;
  }

  .page-header__logo-image {
    width: 174px;
    height: auto;
  }

  .page-header__logo {
    padding-left: 4px;
  }
}

@media (min-width: 1440px) {
  .page-header {
    width: 1440px;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }

  .page-header__logo-image {
    width: 203px;
    height: auto;
  }
}
