.page-footer {
  margin-top: 16px;
  padding-bottom: 32px;

  background-color: #f2f2f2;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 37px;

  width: 320px;
}

.page-footer__logo {
  margin-bottom: 27px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo img {
  width: 124px;
  height: 24px;
}

.page-footer__social {
  padding-bottom: 16px;
  width: 280px;

  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .page-footer {
    margin-top: 0;
    padding-bottom: 45px;
  }

  .page-footer--catalog {
    padding-top: 18px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;

    width: 710px;
  }

  .page-footer-wrapper--program {
    padding-top: 57px;
  }

  .page-footer__logo {
    margin-bottom: 0;
    margin-right: -21px;
  }

  .page-footer__logo img {
    width: 128px;
  }

  .page-footer__logo--catalog {
    margin-top: 17px;
    margin-left: 6px;
  }

  .page-footer__social {
    border: none;
  }

  .page-footer__copyright {
    margin-right: -8px;
  }
}

@media (min-width: 1300px) {
  .page-footer__wrapper {
    padding-top: 52px;
    padding-left: 10px;
    width: 1235px;
  }

  .page-footer__logo {
    margin-top: 3px;
    margin-left: 2px;
  }

  .page-footer__logo img {
    width: 128px;
    height: 24px;
  }

  .page-footer__copyright {
    margin-left: 0;
    margin-right: 0;
  }

  .page-footer--catalog {
    padding-top: 0;
  }
}
