.present {
  position: relative;
  height: 289px;
  margin-top: 39px;
  margin-right: 20px;
  margin-bottom: 35px;
  margin-left: 20px;

  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-size: 280px 289px;
  background-repeat: no-repeat;
  background-color: #68b738;
}

.present__description {
  position: absolute;
  left: 5%;
  margin: 0;
  padding-top: 165px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  white-space: pre;
  color: #ffffff;
}

.present__image {
  position: absolute;
  top: -35%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
