.present {
  position: relative;
  margin-top: 37px;
  margin-right: 20px;
  margin-bottom: 35px;
  margin-left: 20px;
  padding-bottom: 289px;

  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-size: 280px 289px;
  background-repeat: no-repeat;
  background-color: #68b738;
}

.present__description {
  position: absolute;
  left: 5%;
  margin: 0;
  padding-top: 166px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  white-space: pre;
  color: #ffffff;
}

.present__description::before {
  content: "";

  display: block;
  position: absolute;
  top: 65px;
  left: 99px;

  width: 56px;
  height: 61px;
  background-image: url("../img/icon-gift.svg");
}

@media (min-width: 768px) {
  .present {
    margin-top: 69px;
    margin-right: 28px;
    margin-bottom: 94px;
    margin-left: 33px;
    padding-bottom: 200px;

    background-image: url("/img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;
    background-repeat: no-repeat;
    background-color: #68b738;
  }

  .present__description {
    top: -111px;
    left: 54%;
    text-align: left;
  }

  .present__description::before {
    top: 176px;
    left: -291px;
  }
}

@media (min-width: 1440px) {
  .present {
    width: 245px;
    margin: 0;
    margin-top: 119px;

    background-image: url("/img/gift-photo-desktop@1x.jpg");
    background-size:245px 289px;
    background-repeat: no-repeat;
  }

  .present__description {
    top: 0px;
    left: 0px;
    text-align: center;
  }

  .present__description::before {
    top: 65px;
    left: 93px;
  }
}
