.product-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;

  border-bottom: 1px solid #e7e7e7;
}

.product-more__headline {
  margin: 0;
  margin-top: 25px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.product-more__descreption {
  margin: 0;
  margin-top: 11px;
  margin-bottom: 22px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.product-more_button {
  padding-top: 13px;
  padding-right: 94px;
  padding-bottom: 12px;
  padding-left: 94px;

  color: #444444;

  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .product-more {
    padding-top: 55px;
    padding-right: 37px;
    padding-bottom: 40px;
    padding-left: 38px;
    border: 1px solid #cdcdcd;
  }

  .product-more__image img {
    width: 61px;
    height: 61px;
    opacity: 0.2;
  }

  .product-more__headline {
    margin-top: 25px;

    font-size: 20px;
    line-height: 20px;
    white-space: pre-line;
  }

  .product-more__descreption {
    margin-top: 17px;
    margin-bottom: 85px;
    font-size: 16px;
    line-height: normal;
    white-space: pre-line;
  }

  .product-more_button {
    padding-left: 81px;
    padding-right: 79px;
  }
}
