.product-list {
  display: flex;
  flex-direction: column;
}

.product-list__item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 17px;
  padding-right: 15px;
  padding-bottom: 23px;
  border: 1px solid #ededed;
}

.product-list__image {
  margin-left: 2px;

  width: 140px;
  height: 144px;
}

.product-list__name {
  margin-top: -4px;
  padding-top: 25px;
  padding-bottom: 6px;

  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  white-space: pre-line;
}

.product-list__wrapper {
  display: flex;
  flex-direction: column;
}

.product-list__list {
  margin-bottom: 15px;
  margin-left: -3px;
}

.product-list__options,
.product-list__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-list__options {
  width: 97px;
  text-align: left;
}

.product-list__value {
  text-align: right;
}

.product-list__value--fish {
  padding-left: 13px;
}

.product-list__value--rice {
  padding-left: 13px;
}

.product-list__button {
  padding-top: 10px;
  padding-right: 107px;
  padding-bottom: 10px;
  padding-left: 111px;
  margin-left: 3px;

  text-decoration: none;
}

@media (min-width: 768px) {
  .product-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 33px;
    margin-right: 28px;
  }

  .product-list__wrapper {
    margin-bottom: 33px;
  }

  .product-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 36px;
    padding-bottom: 39px;
    padding-left: 36px;
    margin-top: 136px;
    margin-bottom: 4px;

    width: 252px;

    border: none;
    background-color: #f2f2f2;
  }

  .product-list__list {
    margin-bottom: -3px;
    margin-left: 0;

    border-collapse: collapse;
  }

  .product-list__image {
    margin-top: -65px;
  }

  .product-list__image--narrow {
    margin-top: -47px;

    width: 161px;
    height: 172px;
  }

  .product-list__image--wide {
    margin-top: -81px;
    margin-left: 9px;

    width: 195px;
    height: 208px;
  }

  .product-list__image img {
    width: 100%;
    height: auto;
  }

  .product-list__name {
    margin-top: 13px;
    margin-bottom: 7px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
    white-space: normal;
  }

  .product-list__name span {
    display: block;
  }

  .product-list__options,
  .product-list__value {
    padding-top: 12px;
    padding-bottom: 6px;

    width: 122px;

    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product-list__button {
    padding-right: 93px;
    padding-left: 95px;
  }
}

@media (min-width: 1300px) {
  .product-list {
    padding-left: 41px;
    margin-left: 0;
  }

  .product-list__item {
    margin-right: 16px;
    margin-bottom: 7px;
    padding-left: 0;
    padding-right: 0;

    width: 241px;
  }

  .product-list__name {
    margin-bottom: 5px;
  }


  .product-list__button {
    padding-right: 53px;
    padding-left: 55px;
  }

  .product-list__options,
  .product-list__value {
    width: 81px;
  }
}
