.programs__item {
  padding-left: 20px;
  padding-bottom: 13px;
}

.programs__label {
  display: flex;
  align-items: center;
}

.programs__label span {
  padding-left: 16px;
}

.programs__label input {
  display: none;
}

.programs__label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .programs__item {
    padding-left: 0;
  }
}

@media (min-width: 1440px) {
  .programs__label::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }
}
