.selection-title {
  margin: 0;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 24px;

  font-size: 36px;
  line-height: 60px;
  text-align: left;
  font-weight: normal;
}

@media (min-width: 768px) {
  .selection-title {
    margin-bottom: 58px;
    margin-left: 32px;
    padding-left: 0;

    font-size: 60px;
  }
}

@media (min-width: 1300px) {
  .selection-title {
    margin-bottom: 55px;
    margin-left: 40px;
    padding-top: 20px;

    font-size: 60px;
  }
}
