.selection-description {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 39px;

  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  white-space: pre-line;
}
