.social {
  display: flex;
  justify-content: center;
}

.social__vk {
  padding-top: 20px;
  margin-left: -10px;
}

.social__insta {
  padding-top: 23px;
  padding-right: 39px;
  padding-left: 38px;
}

.social__fb {
  padding-top: 22px;
}
