.social {
  display: flex;
  justify-content: center;
}

.social__vk {
  padding-top: 20px;
  margin-left: -10px;

  color: #666666;

  cursor: pointer;

  &:hover {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__vk svg {
  width: 22px;
  height: 12px;
}

.social__insta {
  padding-top: 23px;
  padding-right: 39px;
  padding-left: 38px;

  color: #666666;

  cursor: pointer;

  &:hover {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__fb {
  padding-top: 22px;

  color: #666666;

  cursor: pointer;

  &:hover {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__fb svg {
  width: 10px;
  height: 19px;
}

@media (min-width: 768px) {
  .social {
    margin-top: -7px;
  }

  .social--catalog {
    margin-top: 6px;
    margin-left: 0;
  }

  .social__vk {
    padding-top: 23px;
    margin-right: 28px;
    margin-left: 43px;
  }

  .social__vk svg {
    width: 30px;
    height: 16px;
  }

  .social__insta {
    padding-right: 28px;
    padding-left: 0;
  }

  .social__insta svg {
    width: 23px;
    height: 23px;
  }

  .social__fb {
    padding-top: 21px;
  }

  .social__fb svg {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: 1440px) {
  .social {
    margin-top: 0;
    margin-right: 20px;
  }

  .social__vk {
    margin-right: 25px;
    margin-left: 63px;
  }

  .social__insta {
    padding-right: 31px;
  }
}
