.social {
  display: flex;
  justify-content: center;
}

.social__vk {
  padding-top: 20px;
  margin-left: -10px;
}

.social__insta {
  padding-top: 23px;
  padding-right: 39px;
  padding-left: 38px;
}

.social__fb {
  padding-top: 22px;
}

@media (min-width: 768px) {
  .social {
    margin-right: 30px;
    margin-top: -7px;
  }

  .social__vk {
    padding-top: 23px;
    margin-right: 28px;
    margin-left: 50px;
  }

  .social__vk img {
    width: 30px;
    height: 16px;
  }

  .social__insta {
    padding-right: 28px;
    padding-left: 0;
  }

  .social__insta img {
    width: 23px;
    height: 23px;
  }

  .social__fb {
    padding-top: 21px;
  }

  .social__fb img {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: 1440px) {
  .social {
    margin-top: 3px;
    margin-right: 35px;
  }

  .social__vk {
    margin-right: 25px;
    margin-left: 63px;
  }

  .social__insta {
    padding-right: 31px;
  }
}
