.type {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.type__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.type__title {
  margin-top: 30px;
  margin-bottom: 29px;
  padding-left: 71px;

  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
}

.type__description {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 33px;
  padding-bottom: 22px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  border-bottom: 1px solid #cdcdcd;
}

.type__catalog {
  display: block;
  margin-top: 19px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;

  background-image: url("/img/icon-right-arrow-long.svg");
  background-size: 25px 12px;
  background-repeat: no-repeat;
  background-position: 95px;

  &:hover {
    background-image: url("/img/icon-right-arrow-verylong.svg");
    background-size: 34px 12px;
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}

.type__wrapper--slim {
  &::before {
    content: "";
    width: 50px;
    height: 51px;

    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 22px;
    left: 30px;
    // cat
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-size: 35px 49px;
  }

  &::after {
    content: "";
    width: 50px;
    height: 51px;

    display: inline-block;
    position: absolute;
    top: 24px;
    left: 23px;
    // round
    background-color: #68b738;
    border-radius: 50%;
  }
}

.type__wrapper--pro {
  &::before {
    content: "";
    width: 67px;
    height: 51px;

    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 34px;
    left: 14px;
    // cat
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-size: 67px 28px;
  }

  &::after {
    content: "";
    width: 50px;
    height: 51px;

    display: inline-block;
    position: absolute;
    top: 24px;
    left: 23px;
    // round

    background-color: #68b738;
    border-radius: 50%;
  }
}

@media (min-width: 768px) {
  .type {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-left: 34px;
    padding-right: 35px;
  }

  .type__wrapper {
    margin-bottom: 30px;
    padding-right: 245px;
    padding-bottom: 60px;
    padding-left: 52px;
  }

  .type__wrapper--slim {
    &::before {
      content: "";
      width: 200px;
      height: 200px;

      top: 78px;
      left: 470px;
      // cat
      background-size: 141px 194px;
    }

    &::after {
      content: "";
      width: 200px;
      height: 200px;

      top: 90px;
      left: 442px;
      // round
    }
  }

  .type__wrapper--pro {
    &::before {
      content: "";
      width: 268px;
      height: 200px;

      top: 133px;
      left: 407px;
      // cat
      background-size: 268px 113px;
    }

    &::after {
      content: "";
      width: 200px;
      height: 200px;

      top: 90px;
      left: 442px;
      // round
    }
  }

  .type__title {
    margin-top: 75px;
    margin-bottom: 25px;
    padding-left: 0;
    font-size: 36px;
    line-height: 37px;
  }

  .type__description {
    padding-bottom: 34px;

    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .type__description--slim {
    margin-right: 30px;
  }

  .type__catalog {
    margin-top: 23px;

    font-size: 20px;
    line-height: 20px;

    background-position: 127px;
  }

  .type__description--pro {
    margin-right: 61px;
  }
}

@media (min-width: 1440px) {
  .type {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;

    width: 1220px;
  }

  .type__wrapper {
    padding-right: 0;
    padding-bottom: 62px;
  }

  .type__wrapper--slim {
    margin-right: 80px;
    width: 570px;

    &::before {
      content: "";
      width: 100px;
      height: 100px;

      top: 41px;
      left: 66px;
      // cat
      background-size: 71px 97px;
    }

    &::after {
      content: "";
      width: 100px;
      height: 100px;

      top: 46px;
      left: 53px;
      // round
    }
  }

  .type__wrapper--pro {
    width: 570px;

    &::before {
      content: "";
      width: 134px;
      height: 100px;

      top: 68px;
      left: 35px;
      // cat
      background-size: 134px 57px;
    }

    &::after {
      content: "";
      width: 100px;
      height: 100px;

      top: 46px;
      left: 53px;
      // round
    }
  }

  .type__title {
    margin-left: 160px;
  }

  .type__description {
    margin-top: 50px;
  }

  .type__catalog {
    margin-top: -3px;
  }
}
