.user__contacts {
  padding: 0;
  padding-top: 4px;
  padding-bottom: 28px;

  font-size: 24px;
  line-height: 24px;
  text-align: left;
  text-transform: none;
  white-space: pre-line;
}

.user__contacts::after {
  content: "";
  display: block;
  width: 99px;
  height: 3px;
  background-color: #68b738;
  position: relative;
  left: 202px;
  top: -34px;
}

.user__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  border: 1px solid #cdcdcd;
  opacity: 0.5;
  outline: none;

  &:hover {
    opacity: 1;
  }

  &:active {
    border: 2px solid #444444;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }

  &:invalid + svg {
    fill: #ff8282;
  }
}

.user__input--mail {
  margin-left: 9px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 14px;

  min-width: 202px;
}

.user__item--mail {
  position: relative;
}

.user__item--mail .user__image {
  position: absolute;
  top: 18px;
  left: 247px;

  width: 18px;
  height: 14px;
}

.user__item--mail:active .user__image,
.user__item--phone:active .user__image {
  fill: #68b738;
}

.user__item--phone {
  position: relative;
}

.user__item--phone .user__image {
  position: absolute;
  top: 27px;
  left: 247px;

  width: 21px;
  height: 21px;
}

.user__input--phone {
  min-width: 186px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 16px;
  margin-top: 14px;
  margin-left: 7px;
}

@media (min-width: 768px) {
  .user__item {
    margin-left: 74px;
    margin-right: 59px;
  }

  .user__wrapper {
    display: flex;
    flex-direction: column;
  }

  .user__contacts {
    position: relative;
    z-index: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 33px;
    margin-bottom: 75px;

    font-size: 36px;
    line-height: 36px;
    white-space: normal;
  }

  .user__contacts span {
    background-color: #ffffff;
    padding-right: 45px;
    padding-left: 40px;
  }

  .user__contacts::after {
    content: "";
    display: block;
    width: 768px;
    height: 3px;
    background-color: #68b738;
    position: absolute;
    left: -30px;
    top: 21px;
    z-index: -1;
  }

  .user__input {
    font-size: 20px;
    line-height: 20px;
  }

  .user__input--mail {
    min-width: 527px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
  }

  .user__item--mail .user__image {
    position: absolute;
    top: 20px;
    left: 594px;
  }

  .user__input--phone {
    min-width: 512px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 21px;
    margin-top: 20px;
    margin-left: 9px;
  }

  .user__item--phone .user__image {
    position: absolute;
    top: 36px;
    left: 594px;
  }
}

@media (min-width: 1300px) {
  .user__wrapper {
    display: flex;
    flex-direction: row;
  }

  .user__contacts {
    margin-left: 0;
  }

  .user__contacts::after {
    left: 70px;

    width: 1300px;
  }

  .user__input--phone {
    min-width: 446px;
    margin-top: 0;
  }

  .user__label {
    display: block;
    width: 568px;
  }

  .user__input--mail {
    min-width: 460px;
  }

  .user__item {
    margin-left: 41px;
    margin-right: -34px;
  }

  .user__item--mail .user__image {
    position: absolute;
    top: 20px;
    left: 530px;
  }

  .user__item--phone {
    margin-left: 113px;
  }

  .user__item--phone .user__image {
    position: absolute;
    top: 18px;
    left: 531px;
  }
}
